.container{
 display: flex;
 justify-content: center;
}
.boite1 img {
    width: 100%;
}

.boite1{
    margin: 1px;
    height: 500px;
    width: 20%;
    background-color: blue;
}
.boite2{
    height: 500px;
    width: 20%;
    background-color: rgb(255, 0, 221);
}
.boite3{
    height: 500px;
    width: 20%;
    background-color: rgb(255, 0, 21);
}
